@{
    ViewBag.Title = "Home Page";
}


<!-- home section -->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-3"></div>
            <div class="col-md-7 col-sm-9">
                <h3>Selamat Datang Bro !</h3>
                <h1>Trireksa Papua Cargo</h1>
            </div>
        </div>
    </div>
</div>

<!-- divider section -->
<div class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="divider-wrapper divider-one">
                    <i class="fa fa-plane"></i>
                    <h2>Air Service</h2>
                    <p class="">Kami bekerja keras agar pengiriman sesuai dengan Lead Time yang ditentukan</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="divider-wrapper divider-two">
                    <i class="fa fa-ship" aria-hidden="true"></i>
                    <h2>Sea Service</h2>
                    <p>Kami melayani pengiriman Via Kapal PELNI maupun Kapal Cargo</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="divider-wrapper divider-three">

                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <h2>In Land</h2>
                    <p>Kami Melayani tracking &amp; Handling</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">

                <div class="divider-wrapper divider-four">
                    <a href="/Tracing/Index"><i class="fa fa-truck" aria-hidden="true"></i></a>

                    <h2>Tracking&nbsp;</h2>
                    <p>Kami Melayani tracking &amp; Handling</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/Images/about-img.jpg" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12 about-des">
                <h2>Visi &amp; Misi</h2>
                <p class="" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.&nbsp;orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.orem ipsum dolor sit amet,&nbsp;</p>
                <p class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                <a href="about.html" class="btn btn-default">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>

<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2>Aktifitas Terkini</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
            </div>
        </div>

        <div class="row mt30">

            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img1.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img2.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img3.jpg" alt="portfolio img"></a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img4.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img5.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img6.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="~/Images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Images/portfolio-img7.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-12 col-sm-12">
                <a rel="nofollow" href="http://www.templatemo.com/tag/darkgray" class="btn btn-default">View More</a>
            </div>
        </div>
    </div>
</div>

