<div class="main">
    <div id="tracing-box">
        <h2>CARI KIRIMAN</h2>
        <form>
            <input type="text">
          <button type="button" (click)="FoundResult()">SEARCH</button>
        </form>
      </div>
      
      <section *ngIf="haveResult">
        <h1>Result</h1> 
        <div class="box-item-result">
            <div class="col">
                <div class="title">Shiper</div>
              <div class="data">Budi Suhardi</div>
              <div class="data">Jln. Samarindah V</div>
              <div class="data">Sorong</div>
            </div>
            <div class="col">
                <div class="title">Reciever</div>
              <div class="data">Budi Suhardi</div>
              <div class="data">Jln. Samarindah V</div>
              <div class="data">Sorong</div>
            </div>
            <div class="col">
                <div class="title">Status</div>
                <div class="title">Status</div>
            </div>
        </div>
        <div class="box-item-result">
            <div class="col">
                <div class="title">DATA</div>
              <table >
                <tr>
                  <th>Create Date</th>
                  <th>STT/AWB</th>
                  <th>PCS</th>
                  <th>Weight Type</th>
                </tr>
                <tr>
                  <td>23-1-2019</td>
                  <td>000125</td>
                  <td>2</td>
                  <td>Weight</td>
                </tr>
                <tr></tr>
              </table>
            </div>
        </div>
        <div class="box-item-result">
            <div class="col">
                <div class="title">DATA</div>
              <table >
                <tr>
                  <th>Create Date</th>
                  <th>STT/AWB</th>
                  <th>PCS</th>
                  <th>Weight Type</th>
                </tr>
                <tr>
                  <td>23-1-2019</td>
                  <td>000125</td>
                  <td>2</td>
                  <td>Weight</td>
                </tr>
                <tr></tr>
              </table>
            </div>
        </div>
        <div class="box-item-result">
            <div class="col">
                <div class="title">DATA</div>
              <table >
                <tr>
                  <th>Create Date</th>
                  <th>STT/AWB</th>
                  <th>PCS</th>
                  <th>Weight Type</th>
                </tr>
                <tr>
                  <td>23-1-2019</td>
                  <td>000125</td>
                  <td>2</td>
                  <td>Weight</td>
                </tr>
                <tr></tr>
              </table>
            </div>
        </div>
        <div class="box-item-result">
            <div class="col">
                <div class="title">DATA</div>
              <table >
                <tr>
                  <th>Create Date</th>
                  <th>STT/AWB</th>
                  <th>PCS</th>
                  <th>Weight Type</th>
                </tr>
                <tr>
                  <td>23-1-2019</td>
                  <td>000125</td>
                  <td>2</td>
                  <td>Weight</td>
                </tr>
                <tr></tr>
              </table>
            </div>
        </div>
        <div class="box-item-result">
            <div class="col">
                <div class="title">DATA</div>
              <table >
                <tr>
                  <th>Create Date</th>
                  <th>STT/AWB</th>
                  <th>PCS</th>
                  <th>Weight Type</th>
                </tr>
                <tr>
                  <td>23-1-2019</td>
                  <td>000125</td>
                  <td>2</td>
                  <td>Weight</td>
                </tr>
                <tr></tr>
              </table>
            </div>
        </div>
      </section>
      
</div>